@container (max-width: 200px) {
    .back-btn {
        padding: 2px 4px !important;
    }
    b {
        font-size: 7px !important;
    }

    .weather-widget {
        font-size: 11px !important;
    }

    .footer {
        display: flex !important;
    }

    .temperature {
        display: none !important;
    }

    .details {
        display: none !important;
    }

    .forecast .day .icon {
        width: 24px;
        height: 24px;
    }
}

@container (max-height: 150px) {
    .forecast .day .max,
    .forecast .day .min {
        margin-top: -5px;
    }
}

@container (max-height: 300px) {
    .weather-widget {
        line-height: 14px;
    }

    .weather-widget .current-weather .temperature {
        font-size: 36px !important;
    }

    .weather-widget h2 {
        display: none;
    }

    .weather-widget .current-weather .temperature,
    .forecast,
    .weather-widget .current-weather {
        margin: 0 !important;
    }
}

b {
    font-size: 10px;
}

.footer {
    display: none;
    justify-content: space-between;
    margin: 0 1px;
}

.footer div {
    display: flex;
}

.weather-widget {
    font-size: 14px;
    text-align: center;
    height: 100%;
}

.weather-widget h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
}

.weather-widget .current-weather {
    margin-bottom: 20px;
}

.weather-widget .current-weather .temperature {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    margin-left: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.details .block {
    margin-left: 15px;
}

.details .block .info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.details .block .info i {
    margin-right: 5px;
    color: #6cb339;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.forecast .day {
    text-align: center;
    flex: 1;
    transition: background 0.2s;
}

.clickable {
    cursor: pointer;
}

.clickable .day:hover {
    background: rgba(0,0,0,0.1);
}

.forecast .day .name {
    height: 6px;
}

.forecast .day .min {
    color: #3872ba;
}

.forecast .day .max {
    color: #cc3f3f;
}

.back-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #2196F340;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}